<script lang="ts" setup>
import { ref } from "vue";
const input = ref("0");
</script>

<template>
  <v-container grid-list-xs>
    <v-row>
      <v-col>
        <v-text-field
          clearable
          hide-details
          label="Please Input Number"
          type="input"
          v-model="input"
          :rules="[(v) => v.length >= 1 || 'Number is not empty']"
          required
        ></v-text-field>
      </v-col>
    </v-row>
  </v-container>
</template>
