<script setup lang="ts"></script>

<template>
  <v-card>
    <v-tabs bg-color="yellow">
      <v-tab value="smile">Smile</v-tab>
      <v-tab value="shocked">Shocked</v-tab>
      <v-tab value="pain">Pain</v-tab>
      <v-tab value="Excited">Excited</v-tab>
      <v-tab value="cute">Cute</v-tab>
      <v-tab value="angry">Angry</v-tab>
    </v-tabs>

    <v-card-text>
      <v-window>
        <v-window-item value="smile"> Smile </v-window-item>

        <v-img src="feeling_imgs/smile.png" width="80" height="80"></v-img>

        <v-window-item value="shocked"> Shcoked </v-window-item>
        <v-img src="feeling_imgs/shocked.png" width="80" height="80"></v-img>

        <v-window-item value="pain"> Pain </v-window-item>
        <v-img src="feeling_imgs/pain.png" width="80" height="80"></v-img>

        <v-window-item value="excited"> Excited </v-window-item>
        <v-img src="feeling_imgs/excited.png" width="80" height="80"></v-img>

        <v-window-item value="cute"> cute </v-window-item>
        <v-img src="feeling_imgs/cute.png" width="80" height="80"></v-img>

        <v-window-item value="angry"> angry </v-window-item>
        <v-img src="feeling_imgs/angry.png" width="80" height="80"></v-img>
      </v-window>
    </v-card-text>
  </v-card>
</template>

<style scoped></style>
